<div class="whole" style="background-color: #e4e4e4;">
<div class="container" style="background-color: #ffffff;>
	<div>
	</div>
	<div class="bookingView" ng-controller="bookingController">
		<alert ng-repeat="alert in alerts" type="alert.type"
			close="closeAlert($index)">{{alert.msg}}</alert>
		<h1>Booking</h1>
		<form novalidate class="bookingForm">
			<h2>Velge Antall personer</h2>
			Persons: <input type="number" class="form-control"
				ng-model="booking.nrOfPersons"> <<<<<<< HEAD
			<h2>Velg datoer (fra - til)</h2>
			<!--From: <input type="daterange" class="form-control" ng-model="booking.dayOfBookingStart"> 
        To: <input type="daterange" class="form-control" ng-model="booking.dayOfBookingEnd"> <br> 
        {{booking.dayOfBookingStart}}<br> -->
			<input type="daterange" ng-model="booking.dates" format="YYYY MM DD"
				separator="-"> {{booking.dates}} =======
			<h2>Velg datoer</h2>
			From: <input type="daterange" class="form-control"
				ng-model="booking.dayOfBookingStart"> To: <input
				type="daterange" class="form-control"
				ng-model="booking.dayOfBookingEnd"> >>>>>>>
			8fad460aee7e86d45842ee881b518d2bbe7c4554
			<h2>submit</h2>
			<button class="submit" ng-click="postBooking(booking)">Bestill</button>
		</form>
		Startdato: {{start}} Sluttdato: {{slutt}}<br />
		<pre>form = {{booking | json}} booking - json</pre>
	</div>
</div>