<div class="modal-body" style="border-bottom: 1px solid #ccc;">
    <div style="text-align: right">
        <button class="btn btn-danger" ng-click="cancel()">
            <strong>X</strong>
        </button>
    </div>
    <h4>Brukeropplysninger</h4>
    <div class="row">
        <div class="col-lg-4">
            <p>Fornavn</p>
            <p>Etternavn</p>
            <p>F¿dselsdato</p>
            <p>Adresse</p>
            <p>Poststed</p>
            <p>Postnummer</p>
            <p>Epost</p>
        </div>
        <div class="col-lg-8">
            <p>Ola</p>
            <p>Nordmann</p>
            <p>30.05.1989</p>
            <p>Gateveien 3</p>
            <p>Plassen</p>
            <p>1234</p>
            <p>ola.nordmann@mail.no</p>
        </div>
    </div>
</div>
<div class="modal-body" style="border-bottom: 1px solid #ccc;">
    <h4>Bekreft reservasjon</h4>
    <p>Les og bekreft kjøpsvilkår.</p>
    <div class="checkbox">
        <label> <input type="checkbox"> <i>Jeg har lest og
                godkjenner Deres vilkår.</i>
        </label>
    </div>
</div>
<div class="modal-body">
    <h4>Oversikt over kjøp</h4>
    <div class="row">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12">
                                    <div class="row" style="height: 16px"></div> <!-- Just pushing the text down a bit -->
                                    <div class="col-lg-3">
                                        <p>Voksen, medlem</p>
                                        <p>Barn, medlem</p>
                                    </div>
                                    <div class="col-lg-1">
                                        <p>x2</p>
                                        <p>x1</p>
                                    </div>
                                    <div class="col-lg-2" style="text-align: right;">
                                        <p>700 NOK</p>
                                        <p>250 NOK</p>
                                    </div>
                                    <div class="col-lg-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12" style="font-weight: bold">
                                    <div class="col-lg-3">
                                        <p>Totalt beløp</p>
                                    </div>
                                    <div class="col-lg-3" style="text-align: right;">
                                        <p>950 NOK</p>
                                    </div>
                                <div class="col-lg-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="row">
        <br> <br>
        <li ng-repeat="item in items"><a ng-click="selected.item = item">{{item}}</a></li>
    </div>
    <div style="text-align: right">
        <button class="btn btn-primary" ng-click="ok()">Bekreft kjøp</button>
    </div>
</div>