<div class="whole" style="background-color: #dbdbdb">
	<div class="container" style="background-color: #ffffff;">
		<div class="row" style="position: center;">
			<!--This is just the container where the cabin information will be-->
			<img class="img-responsive" src="assets/images/DNT_hytteprofil_top_small.jpg" />
		</div>
<!-- //////////////////////////////////////////////// DNT BOOKING SOLUTION - START//////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////// Numbers of beds to be reserved ////////////////////////////////////////////// -->
		<div class="row"
			style="height: 400px; background-color: #f5f5f5; padding-bottom: 15px solid white; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;">
			<div class="col-lg-12 col-md-12">
				<div class="row">
				<div class="col-lg-12 col-md-12">
					<h2>Booking</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3">

						<div ng-if="cabinType=='large'">

							<div class="row">
								<div class="col-lg-12 col-md-12">
									<dnt-selector person-types="personType" hide-type-index="4"
										number-of-beds="beds"></dnt-selector>
								</div>

							</div>
							<!-- /row -->
						</div><!-- /ng-if -->
						<div ng-if="cabinType=='small'">
							<div class="row">
								<div class="row" style="height: 16px"></div>
								<!-- Just pushing the text down a bit -->
								<div class="col-lg-9 col-md-9">
									<p>Liten hytte</p>
									<p>Reserver hele hytta fra</p>
								</div>

							</div>
						</div><!-- /ng-if -->
					</div><!-- /col -->

					




<!-- //////////////////////////////////////////////////// Date to be reserved //////////////////////////////////////////////////// -->

					<div class="col-lg-6 col-md-6"
						style="min-height: 315px; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
						
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<strong>Fra:</strong> <input type="text"
										ng-model="booking.dateFrom" class="form-control"
										placeholder="ÅÅÅÅ-MM-DD" datepicker-popup="yyyy-MM-dd">
                                    
								</div>
								<div class="col-lg-6 col-md-6">
									<strong>Til:</strong> <input type="text"
										ng-model="booking.dateTo" class="form-control"
										placeholder="ÅÅÅÅ-MM-DD" datepicker-popup="yyyy-MM-dd">

								</div>
							</div><!-- /row -->
						<div class="row">
							<div class="col-lg-6 col-md-6">	
									<div class="well well-sm" ng-model="booking.dateFrom">
										<datepicker min="now" show-weeks="showWeeks"></datepicker>
									</div>
							</div>
							<div class="col-lg-6 col-md-6">  
                                    <div class="well well-sm" ng-model="booking.dateTo">
                                        <datepicker min="booking.dateFrom" show-weeks="showWeeks"></datepicker>
                                    </div>
                            </div>
						</div>
						<!-- /col -->
                    </div>

<!-- ////////////////////////////////////////////////// Order summary and submit ///////////////////////////////////////////////// -->

					<div class="col-lg-3 col-md-3" >
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<dnt-price-viewer person-types="personType" from-date="booking.dateFrom" to-date="booking.dateTo"></dnt-price-viewer>
							</div>
						</div>

						<div class="row" style="text-align: center;">
							<div ng-controller="ModalDemoCtrl" ng-init="personType">


								<button class="btn btn-primary" ng-click="open()">Reserver</button>
								<div ng-show="selected">Selection from a modal: {{
									selected }}</div>
							</div>
						</div><!-- /row -->
					</div><!-- /col -->
				</div><!-- /row -->
			</div><!-- /col -->
		</div><!-- /row -->
		
		<!-- ///////////////////////////////////////////////// DNT BOOKING SOLUTION - END ///////////////////////////////////////////////// -->


		<div class="row">
			<!--This is just an other information container-->
			<img class="img-responsive" src="assets/images/DNT_hytteprofil_bottom_small.jpg" />
		</div>
	</div><!-- /container -->
	<pre>{{booking}}</pre>
	<pre>{{personType}}</pre>
</div>