

<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Beds</th>
				<th>Active bookings</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="cabin in cabins">
				<td>{{cabin.id}}</td>
				<td>{{cabin.name}}</td>
				<td>{{cabin.cabinType}}</td>
				<td>{{cabin.nrOfBeds}}</td>
				<td>{{cabin.nrActiveBookings}}</td>
				<td>
					<button class="btn btn-default" ng-click="viewCabin(cabin.id)">
						View details</button>

				</td>
			</tr>
		</tbody>
	</table>

</div>
<div class="row">
	<div class="row" ng-if="totalItems > itemsPerPage">
		<pagination on-select-page="setPage(page)" total-items="totalItems"
			page="currentPage" items-per-page="itemsPerPage"></pagination>
	</div>
</div>
<div class="row" ng-controller="cabinFormController">
    <button ng-click="showCabinForm()">Add Cabin</button>
    <div ng-show="show">
        <input type="text" class="form-control" placeholder="id" ng-model="newCabin.id">
        <input type="text" class="form-control" placeholder="name" ng-model="newCabin.name">
        <checkbox ng-change="newCabin.type">
        <input type="number" class="form-control" placeholder="beds" ng-model="newCabin.beds">
        <button type="submit" ng-click="addCabin(newCabin)">Add</button>
    </div>
</div>
    
    
</div>
<pre>
    {{cabins}}
</pre>