<div class="container">
	<div class="row">
		<div class="col-md-12">
			<pagination on-select-page="setPage(page)" total-items="totalItems"
				page="currentPage" items-per-page="itemsPerPage"></pagination>

		</div>
	</div>

	<div class="row" ng-repeat="order in orders">
		<div class="col-md-12 well">
			<div class="row">
				<div class="col-md-5">
					<p>date ordered: {{ order.timeOfBooking | date }}</p>
					<p>from: {{ order.dateFrom | date }}</p>
					<p>till: {{ order.dateTo | date }}</p>
				</div>
				<div class="col-md-5">
					<p>cabin: {{ order.cabin.name }}</p>
					<p ng-show="order.nrOfBeds !=null">beds: {{order.nrOfBeds }}</p>
				</div>
				<div =class="col-md-2">
				    <div ng-if="order.ableToCancel">
				        <button class="btn btn-default" ng-click="cancelOrder( order )">
				        Cancel booking</button>
				    </div>
				     <div ng-if="!order.ableToCancel">
                        <p>To late to cancel</p>
                    </div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">

			<pagination on-select-page="setPage(page)" total-items="totalItems"
				page="currentPage" items-per-page="itemsPerPage"></pagination>

		</div>
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<div style="margin: 20px">
				<select class="form-control" ng-model="itemsPerPage"
					ng-change="getOrders(page)">
					<option>10</option>
					<option>20</option>
					<option>50</option>
				</select>
			</div>
		</div>
	</div>
</div>
<pre>{{orders}}</pre>