<div class="modal-body" style="border-bottom: 1px solid #ccc;">
	<div class="row">
		<div class="col-lg-12" ng-hide="checked">
			<div class="row">
				<div class="col-lg-12" style="text-align: right">
					<button class="btn btn-success" ng-click="cancel()">
						<strong><span class="glyphicon glyphicon-ok"></span></strong>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="text-align: center">
					<h3>Din reservasjon er nå gjennomført.</h3>
					<p>
						<span class="glyphicon glyphicon-info-sign"
							style="font-size: 20px"></span><i> Du kan gå inn på din <a
							ng-click="closeModal" href="#/orderHistory">ordrehistorikk</a>
							for mer informasjon.
						</i>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-12" ng-show="checked">
			<div class="row">
				<div class="col-lg-12" style="text-align: right">
					<button class="btn btn-danger" ng-click="cancel()">
						<strong><span class="glyphicon glyphicon-remove"></span></strong>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="text-align: center">
					<h3>Obs! Noe gikk galt med reservasjonen.</h3>
					<p>
						<span class="glyphicon glyphicon-info-sign"
							style="font-size: 20px"></span><i> Prøv igjen. Dersom problemet er vedvarende, kontakt DNT.
						</i>
					</p>
				</div>
			</div>
		</div>
		<input type="checkbox" ng-model="checked"> <!-- Show/hide test -->
	</div>
</div>

