<div class="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12" style="text-align: right">
					<button class="btn btn-danger" ng-click="cancel()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="text-align: center">
					<h3>Obs! Noe gikk galt med reservasjonen.</h3>
					<p>
						<span class="glyphicon glyphicon-info-sign"
							style="font-size: 20px"></span><i> Prøv igjen. Dersom
							problemet er vedvarende, <a ng-click="closeModal"
							href="http://www.turistforeningen.no/kontakt/">vennligst ta
								kontakt</a> med DNT.
						</i>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>