<div class="whole" style="background-color: #dbdbdb">
	<div class="container" style="background-color: #ffffff;">
		<div class="row">
			<div class="col-lg-12" style="min-height: 900px">
				<h2>Vilkår og betingelser for booking</h2>
				<h3>Bestilling</h3>
				<p>Fast opphold med egne pensjonspriser bestilles direkte på hyttene. Medlemmer kan bestille plass for ett eller to døgn til vanlige priser hvis kapasiteten tillater det. Ved bestilling gjelder egne regler for avbestilling/ avbestillingsgebyr.</p>
				<h3>Avbestillingsgebyr</h3>
				<p>Avbestilling av oppholdet kan skje uten ekstra kostnad fram til 2 uker før ankomst. Ved avbestilling fra 14 – 4 dager før ankomst kan bestyrer fakturere 50% av totalbeløpet angitt i bekreftelsen du får fra bestyrer. Ved avbestilling 0-3 dager før ankomst eller ved manglende oppmøte kan bestyrer fakturere 100% av totalbeløpet angitt i denne bekreftelsen. Ved avbestilling pga sykdom (legeerklæring), force majeur el.l. kan bestyrer fakturere kr. 200,- i ekspedisjonsgegyr pr. pers., maks kr. 1000,- til sammen for gruppen.</p>
				<p>Inntil 15 dager før ankomst kan antallet reduseres uten omkostninger. Ved reduksjoner av antallet 14 – 4 dager før ankomst kan antallet reduseres inntil 25 % kostnadsfritt. 3-0 dager før ankomst kan 1nntill 10 % reduseres kostnadsfritt.</p>
			</div>
		</div>
	</div>
</div>