<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h1>TEST</h1>
				<p>order for customer</p>
				<a href="#/orderHistory/">View your Orders</a> 
					
				
		</div>
	</div>
	<div class="row">
        <div class="col-md-12">
                <a href="#/booking/1?type=large">Test booking Fjordheim (LargeCabin)</a>
                <a href="#/booking/2?type=large">Test booking Peterstun (LargeCabin)</a>
                <a href="#/booking/3?type=small">Test booking HeiFjord (smallCabin)</a>
                <a href="#/booking/4?type=small">Test booking Fjordlistølen (smallCabin)</a>
                    
            
        </div>
      
    </div>
	
	
</div>



