# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
# and others
!.jshintrc
!.bowerrc
!.editorconfig
!.gitattributes
!.travis.yml

#Ignore public folder
public/
#Ignore SECRET_ID SECRET_MERCANT
conf/secrets.conf
conf/MERCHANT_ID
conf/MERCHANT_SECRET

# Ignore Play! working directory #
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
conf/evolutions/default/
*.iml
*.eml
public
node_modules
dist
.tmp
.sass-cache

app-ui/app/bower_components

app-ui/docs
RUNNNING_PID
