

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.selectNumber {
	min-width:50px;
}

/*-----------General override-----------*/

html{
	height: 100%;
}

body{
	/*background-color: #dbdbdb;*/
	height: 100%;
}

.container { 
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.whole{
	background-color: #ffffff;
}



/*-----------Glyphicon mods-----------*/

.fa-circle{
	color: #55bf4e;
}

.glyphicon-remove{
	color: #818181;
}


.fa-info-circle{
	color: #428bca;
}

.fa-info-circle-position {
    position: relative;
}
 
.fa-info-circle-position:before {

    position: absolute;
    top: 10px;
    left: 30px;
}

.fa-question-circle{
	color: #428bca;
}

.fa-question-circle-position {
    position: relative;
}
 
.fa-question-circle-position:before {

    position: absolute;
    top: 10px;
    left: 30px;
}


/*-----------Text mods-----------*/

.modCenterText{
	text-align: center;
}
.modRightText{
	text-align: right;
}
.modBoldText{
	font-weight: bold;
}

.modTestMainView{
	background-color: #ffffff;
	width: 100%;
}

.bookingBanner{
	min-height: 400px;
	background-color: #f5f5f5;
	padding-bottom: 15px solid white;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

/*-----------Styling-----------*/

.spaceLineSmall{
	height: 15px;
}
.spaceLineBig{
	height: 30px;
}


.calenderDivStyle{
	min-height: 345px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.reserverButtomDivStyle{
	height: 50px;
	text-align: center;
}

.vcenter{
	display: inline-block;
    vertical-align: middle;
    float: none;
}

.tooltip-inner {
    max-width: 600px;
}

/*--------Custom navbar--------*/
/* navbar */
.navbar-default {
    background-color: #3c3c3f;
    border-color: #3c3c3f;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #b7b7b9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #d9d9d9;
    background-color: #5f5f5f;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #d9d9d9;
    background-color: #5f5f5f;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #b7b7b9;
    border-bottom-color: #b7b7b9;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d9d9d9;
    border-bottom-color: #d9d9d9;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #d9d9d9;
    border-bottom-color: #d9d9d9;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #5f5f5f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #5f5f5f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #b7b7b9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d9d9d9;
    }
}