

<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>id</th>
				<th>creation</th>
				<th>name</th>
				<th>from</th>
				<th>to</th>
				<th># of beds</th>
			
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="booking in cabinDetails">
				<td>{{booking.id}}</td>
				<td>{{booking.timeOfBooking |date}}</td>
				<td>{{booking.user.emailAddress}}</td>
				<td>{{booking.dateFrom | date}}</td>
				<td>{{booking.dateTo | date}}</td>
				<td>{{booking.nrOfBeds}}</td>
                <td ng-if="booking.status == 0"><span class="label label-warning">booked</span></td>
                 <td ng-if="booking.status == 1"><span class="label label-success">paid</span></td>
                  <td ng-if="booking.status == 2"><span class="label label-danger">cancelled</span></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row" ng-if="totalItems > itemsPerPage">
	<pagination on-select-page="setPage(page)" total-items="totalItems"
		page="currentPage" items-per-page="itemsPerPage"></pagination>
</div>

<pre>
        {{cabinDetails}}
    </pre>