.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.selectNumber {
	min-width:50px;
}

/*-----------General override-----------*/

html{
	height: 100%;
}

body{
	background-color: #dbdbdb;
	height: 100%;
}

.container { 
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.whole{
	background-color: #ffffff;
}

/*-----------Glyphicon mods-----------*/

.glyphicon-user{
	color: #55bf4e;
}


.fa-info-circle{
	color: #428bca;
}

.fa-info-circle-position {
    position: relative;
}
 
.fa-info-circle-position:before {

    position: absolute;
    top: 10px;
    left: 30px;
}

.fa-question-circle{
	color: #428bca;
}

.fa-question-circle-position {
    position: relative;
}
 
.fa-question-circle-position:before {

    position: absolute;
    top: 10px;
    left: 30px;
}


/*-----------Text mods-----------*/

.modCenterText{
	text-align: center;
}
.modRightText{
	text-align: right;
}
.modBoldText{
	font-weight: bold;
}

.modTestMainView{
	background-color: #ffffff;
	width: 100%;
}

.bookingBanner{
	min-height: 400px;
	background-color: #f5f5f5;
	padding-bottom: 15px solid white;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

/*-----------Styling-----------*/

.spaceLineSmall{
	height: 15px;
}
.spaceLineBig{
	height: 30px;
}

.calenderDivStyle{
	min-height: 345px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.reserverButtomDivStyle{
	height: 50px;
	text-align: center;
}

.vcenter{
	display: inline-block;
    vertical-align: middle;
    float: none;
}