<div class="container whole">
	<div class="row">
		    <h1 class="">{{cabinDetails.name}}</h1>
		    <div class="row well">
		    <div class="col-md-4 text-center"><p>number of active bookings <span class="label label-success">{{cabinDetails.nrActiveBookings}}</span></p></div>
		    <div class="col-md-4 text-center"><p>type <span class="label label-success">{{cabinDetails.cabinType}}</span></p></div>
            <div class="col-md-4 text-center"><p>number of bookable beds <span class="label label-success">{{cabinDetails.nrOfBeds}}</span></p></div>
            </div>
		    <a href="#/admin">admin home</a>
		    <div class="row">
		     <div class="col-md-6"><h2 class="vertAlign">Price categories</h2></div>
            <div class="col-md-6">
			<button type="button" class="btn btn-primary pull-right" ng-click="togglePriceForm = !togglePriceForm"> Add
            <span class="glyphicon glyphicon-plus"></span></button></div>
            </div>
             <form name="pForm" novalidate valid-submit="addPrice(cabinDetails.id, priceForm)">
			<table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Member price</th>
                    <th>Non-member price</th>
                    <th ng-if="cabinDetails.cabinType == 'large'">Minor</th>
                    <th>Age range</th>
                    <th>Options</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in priceCategories">
                    <td>{{p.id}}</td>
                    <td>{{p.guestType}}</td>
                    <td>{{p.memberPrice}}</td>
                    <td>{{p.nonMemberPrice}}</td>
                    <td ng-if="cabinDetails.cabinType == 'large'"><p>{{p.isMinor}}<p></td>  
                    <td>{{p.ageRange}}</td>                    
                    <td>
		                <div class="btn-group text-left">
	                            <button type="button" class="btn btn-default dropdown-toggle"
	                                data-toggle="dropdown">
	                                Options <span class="caret"></span>
	                            </button>
	                            <ul class="dropdown-menu" role="menu">
	                                <li><a ng-click="removePrice(cabinDetails.id, p)">remove price</a></li>
	                            </ul>
	                        </div>
                    </td> 
                </tr>
               
                <tr ng-show="togglePriceForm" >
                   
                    <td>-</td>
						<td>
							<div class="form-group" ng-class="{
			                    'has-error': pForm.type.$invalid && pForm.$submitted,
			                    'has-success': pForm.$submitted && pForm.type.$valid}">
								<input type="text" class="form-control" name="type"
									ng-model="priceForm.guestType" placeholder="guest type"
									required>
							</div>
						</td>
						<td>
							<div class="form-group" ng-class="{
			                    'has-error': pForm.memprice.$invalid && pForm.$submitted,
			                    'has-success': pForm.$submitted && pForm.memprice.$valid}">
								<input type="number" class="form-control" name="memprice"
									ng-model="priceForm.memberPrice" placeholder="price" required>
							</div>
						</td>
						<td>
							<div class="form-group" ng-class="{
			                    'has-error': pForm.price.$invalid && pForm.$submitted,
			                    'has-success': pForm.$submitted && pForm.price.$valid}">
								<input type="number" class="form-control" name="price"
									ng-model="priceForm.nonMemberPrice" placeholder="member price"
									required>
						</div>
						</td>
						<td>
                            <div class="form-group" ng-class="{
                                'has-error': pForm.minor.$invalid && pForm.$submitted,
                                'has-success': pForm.$submitted && pForm.minor.$valid}">
                                <input type="checkbox" name="minor" name="minor"
                                    ng-model="priceForm.isMinor" placeholder="minor">
                                     <label class="control-label" for="checkbox1">
									<p>Minor</p>
								</label>
							</div>
                        </td>
						<td>
							<input type="text" class="form-control" name="age"
								ng-model="priceForm.ageRange" placeholder="age range">
						</td>
						<td><input type="submit" class="btn btn-primary" value="submit"></td>      
                   
                </tr>
                
            </tbody>
        </table>
	    </form>
		<h2>Active bookings</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Creation</th>
					<th>Name</th>
					<th>From</th>
					<th>To</th>
					<th># of beds</th>
					<th>Status</th>
					<th class="text-right">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="booking in cabinBookings">
					<td>{{booking.id}}</td>
					<td>{{booking.timeOfBooking |date}}</td>
					<td>{{booking.user.emailAddress}}</td>
					<td>{{booking.dateFrom | date}}</td>
					<td>{{booking.dateTo | date}}</td>
					<td>{{booking.nrOfBeds}}</td>
					<td ng-if="booking.status == 0"><span
						class="label label-warning">Booked</span></td>
					<td ng-if="booking.status == 1"><span
						class="label label-success">Paid</span></td>
					<td ng-if="booking.status == 2"><span
						class="label label-danger">Cancelled</span></td>
					<td ng-if="booking.status == 3"><span
						class="label label-default">Timed out</span></td>
					<td class="text-right">
						<div class="btn-group text-left">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown">
								Options <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a ng-click="open(booking.id)">view receipt</a></li>
								<li><a ng-click="">send e-mail</a></li>
								<li class="divider"></li>
								<li><a ng-click="cancelOrder(booking)">cancel booking</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row" ng-if="totalItems > itemsPerPage">
		<pagination on-select-page="setPage(page)" total-items="totalItems"
			page="currentPage" items-per-page="itemsPerPage"></pagination>
	</div>
	
	<div ng-if="cabinDetails.cabinType != 'small'" class="row">
	   <h2>Cabin options</h2>
	   <p>Add bed<p> <p>remove bed</p> <p>
	</div>
</div>