<div class="modal-body">
	<div style="text-align: right">
		<button class="btn btn-default" ng-click="cancel()">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
	<h4>Brukeropplysninger</h4>
	<div class="row">
		<div class="col-lg-4">
			<p>Fornavn</p>
			<p>Etternavn</p>
			<p>Fødselsdato</p>
			<p>Adresse</p>
			<p>Poststed</p>
			<p>Postnummer</p>
			<p>Epost</p>
		</div>
		<div class="col-lg-8">
			<p>Ola</p>
			<p>Nordmann</p>
			<p>30.05.1989</p>
			<p>Gateveien 3</p>
			<p>Plassen</p>
			<p>1234</p>
			<p>ola.nordmann@mail.no</p>
		</div>
	</div>
</div>
<form name="termForm"  novalidate valid-submit="ok()" >
	<div class="modal-body" style="border-top: 1px solid #ccc;">
		<h4>Bekreft reservasjon</h4>
		<p>
			<a target="_blank" href="#/termsAndConditions">Les og bekreft
				kjøpsvilkår.</a>
		</p>
		<!-- This still does not work -->


		<div class="form-group"
			ng-class="{
                      'has-error': termForm.cond.$invalid && termForm.$submitted,
                      'has-success': termForm.$submitted && termForm.cond.$valid}">

			<input id="checkbox1" type="checkbox" name="cond" value="read"
				ng-model="booking.termsAndConditions" ng-required="!booking.termsAndConditions"> <label
				class="control-label" for="checkbox1"> <p><i>Jeg har lest
					og godkjenner Deres vilkår.</i></p></label>
		</div>


	</div>
	<div class="modal-body" style="border-top: 1px solid #ccc;">
	<h4>Oversikt over kjøp</h4>
	<div class="row">
		<div class="col-lg-8">
			<div class="col-lg-12">
				<dnt-price-viewer person-types="booking.guests"
					from-date="booking.dateFrom" to-date="booking.dateTo"></dnt-price-viewer>
			</div>
		</div>
	</div>
	<div style="text-align: right">
		<input type="submit" class="btn btn-primary" value="Bekreft
            reservasjon" >
	</div>
	
</div>
</form>