<div class="container whole fill">
	<div class="row">
		<!--This is just the container where the cabin information will be-->
		<img class="img-responsive"
			src="/images/DNT_hytteprofil_top_small.png" />
	</div>
	<!-- /row -->
    
    <dnt-booking-module cabin-type="{{cabinType}}"
                        number-of-beds="{{beds}}" 
                        on-book="openBookingConfirmDialog()"
                        booking-model="booking"
                        error-model="errorMessage"
                        divider-index="hideIndex">
    </dnt-booking-module>
                       

	<div class="row">
		<!--This is just an other information container-->
		<img class="img-responsive"
			src="/images/DNT_hytteprofil_bottom_small.png" />
	</div>
	<!-- /row -->
</div>
<!-- /container -->