<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////// DNT BOOKING SOLUTION - START///////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row bookingBanner">

        <div class="col-lg-12 col-md-12">


    <!-- /////////////////////////////////////////////// Numbers of beds to be reserved ////////////////////////////////////////////// -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h2>
                        Booking <a ng-controller="TooltipDemoCtrl" href=""
                            tooltip-trigger="click" tooltip-placement="right"
                            tooltip-html-unsafe="{{tooltipBookingInfo}}"><i
                            class="fa fa-question-circle"></i></a>
                    </h2>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div ng-if="cabinType=='large'">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <dnt-selector person-types="booking.guests" hide-type-index="4"
                                    number-of-beds="beds"></dnt-selector>
                            </div>
                            <!-- /col -->
                        </div>


                        <!-- /row -->
                    </div>

                    <!-- /ng-if -->
                    <div ng-if="cabinType=='small'">
                        <div class="row">
                            <div class="row spaceLineSmall"></div>
                            <!-- Just pushing the text down a bit -->
                            <div class="col-lg-9 col-md-9">
                                <p>
                                    <i>Denne hytten regnes som en liten hytte. Det innebærer at
                                        en ikke kan reservere senger, men må reservere hele hytta. 
                                </p>
                                <p>
                                    Dersom du har spørsmål vedrørende reservering av denne hytta,
                                    kontakt DNT.</i>
                                </p>
                                
                                <p>Er du: </p>
                                <input type=radio>medlem</input>
                                <input type=radio>ikke medlem</input>
                                <p>FIX FIX FIX</p>
                            
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /ng-if -->
                </div>
                <!-- /col -->


    <!-- //////////////////////////////////////////////////// Date to be reserved //////////////////////////////////////////////////// -->

                <div class="col-lg-6 col-md-6 calenderDivStyle">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <strong>Ankomst:</strong>&nbsp;{{booking.dateFrom}}
                        </div>
                        <!-- /col -->
                        <div class="col-lg-6 col-md-6">
                            <strong>Avreise:</strong>&nbsp;{{booking.dateTo}}
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 spaceLineSmall"></div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div ng-controller="TooltipDemoCtrl" tooltip-placement="left"
                                tooltip-html-unsafe="{{tooltipArrival}}"
                                tooltip-popup-delay="1200">
                                <datepicker ng-model="booking.dateFrom" min="minimumBookableDate"
                                    show-weeks="showWeeks" date-disabled="disabled(date, mode)" date-in-range="booking.dateTo"></datepicker>
                            </div>
                            <!-- /well -->
                        </div>
                        <!-- /col -->
                        <div class="col-lg-6 col-md-6">
                            <div ng-controller="TooltipDemoCtrl" tooltip-placement="right"
                                tooltip-html-unsafe="{{tooltipDeparture}}"
                                tooltip-popup-delay="1200">
                                <datepicker ng-model="booking.dateTo" min="booking.dateFrom"
                                    show-weeks="showWeeks" date-disabled="disabled(date, mode)" date-in-range="booking.dateFrom"></datepicker>
                            </div>
                            <!-- /well -->
                        </div>
                        <!-- /col -->
                    </div>
                    <div class="row">
                       <div class="col-lg-12 col-md-12">
                           <br>
                           <p class="text-center" ng-show="errorMessage" style="color: red">{{errorMessage}}</p>
                       </div>
                       
                    </div>
                    <!-- /row -->
                </div>
                <!-- /col -->


    <!-- ////////////////////////////////////////////////// Order summary and submit ///////////////////////////////////////////////// -->

                <div class="col-lg-3 col-md-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="col-lg-12 col-md-12">
                                <dnt-price-viewer person-types="booking.guests"
                                    from-date="booking.dateFrom"
                                    to-date="booking.dateTo"></dnt-price-viewer>
                            </div>
                            <!-- /col -->
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                    <div class="row reserverButtomDivStyle">
                        <!-- <div ng-controller="ModalController" ng-init="booking.guests"> -->

                            <button class="btn btn-primary"
                                ng-click="onBook()"
                                ng-controller="TooltipDemoCtrl" tooltip-placement="bottom"
                                tooltip-html-unsafe="{{tooltipReserveButton}}"
                                tooltip-popup-delay="1200">Reserver</button>
                        <!-- </div> -->
                        <!-- /ng-controller -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->


    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>
        <!-- /col -->
    </div>
    
    <!-- /row -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <!-- ///////////////////////////////////////////////// DNT BOOKING SOLUTION - END ///////////////////////////////////////////////// -->
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->