<div class="container whole" style="height: 100%">
	<div class="row" style="height: 100%">
		<div class="col-lg-12" style="height: 100%">
			<h2>Bookingmanual</h2>
			<p>Ved første gangs benyttelse av DNT sitt bookingsystem, så kan
				det være ett eller annet du er usikker på hvordan fungerer. Her vil
				du finne svar på alt som kan være nyttig å vite for å kunne benytte
				deg av dette systemet.</p>
			<p>DNT booking er laget slik at det skal oppleves så intuitivt
				som mulig. For å oppnå dette, så er systemet gjort til en tre-stegs
				prosess; reservasjon (gående fra venstre mot høyre over tre enkle
				steg), bekreftelse av reservasjon og betaling. Videre går vi nærmere
				inn på første steg; velg antall senger som skal reserveres.</p>


			<h3>Reservasjon</h3>
			<h4>Steg 1 - Senger, antall personer</h4>
			<p>Man må fortelle hvor mange som skal overnatte på hytten. Når
				man vet hvor mange senger som trengs, så må det bestemmes hvilke
				kategorier personene hører til. Velg antall personer for hver
				kategori. Dersom det er kategorier som ikke skal være med, så trengs
				ikke antall for de gitte kategoriene å bestemmes.</p>
			<p>Systemet er laget slik at det ikke går an å booke senger for
				flere personer enn hva som er kapasitet for hytta. Så dersom det er
				flere som ønsker å reservere senger enn kapasiteten til hytta, så
				kan en heller benytte seg av andre hytter med større kapasitet.</p>

			<h4>Steg 2 - Dato for ankomst og avreise</h4>
			<p>Når antall senger som skal reserveres er avgjort, så skal man
				bestemme dato for ankomst og avreise. Dette gjøres ved hjelp av to
				kalendere. Fra venstre mot høyre bestemmer hver av kalenderene dato
				for ankomst og dato for avreise. Å velge dato gjøres enkelt ved å
				trykke på den datoen en ønsker å ankomme og datoen en ønsker
				avreise. Valgt dato vil da vises over kalenderen.</p>
			<p>Systemet er laget slik at det ikke er mulig å reservere over
				datoer hvor hytta ikke har kapasitet som trengs for å gjøre
				reservasjonen. Dersom dette er tilfelle, så vil de bestemte datoene
				vært markert rødt. Da kan en heller benytte seg av andre hytter med
				ønsket kapasitet for den gitte datoen.</p>

			<h4>Steg 3 - Oversikt over ønsket reservasjon</h4>
			<p>Etter antall senger som ønsket reservert og dato for ankomst
				og avreise er bestemt, så vil en se en oversikt over reservasjonen.
				Oversikten viser både antall senger som ønskes reservert i hver
				kategori og dato for ankomst og avreise. I tillegg viser den total
				pris for hver kategori totalt beløp for alle kategoriene over den
				bestemte perioden til sammen.</p>
			<p>Dersom oversikten virker tilfredsstillende, så trykker man på
				"Reserver"-knappen, og det til poppe fram et vindu hvor man må
				bekrefte reservasjonen.</p>


			<h3>Bekreftelse av reservasjon</h3>
			<p>Bekreftelsen består av tre deler; oversikt over
				brukerinformasjonen til personen som utfører reservasjonen,
				bekreftelse av at en godtar vilkårene for reservasjonen og til slutt
				en oppsummering av ønsket reservasjon. Dersom alt ser ut til å
				stemme og man har godtatt vilkårene, så vil neste steg være betaling
				av reservasjonen. Dette gjøres ved å trykke på "Gjennomfør
				reservasjon". En vil da bli sendt videre til Nets for å utførelse av
				betaling.</p>


			<h3>Betaling</h3>
			<p>Når man har blitt sendt videre til Nets, så vil det være klart
				for betaling. Fyll inn alle felter og gjennomfør betalingen. Når
				dette har blitt gjort, så vil en bli sendt tilbake til hytta man
				booket.</p>
			<p>Systemet er laget slik at det vil poppe fram en beskjed om
				status for reservasjonen - om den gikk gjennom eller om noe gikk
				galt. Reservasjonen gikk gjennom dersom alt gikk bra.</p>
			<p>Dersom en feil oppsto, så gikk ikke reservasjonen gjennom.
				Dette betyr at betalingen ikke ble gjennomført. Man vil da bli nødt
				til å utføre hele reservasjonen på nytt. Dersom feilen vedvarer, så
				kan en kontakte DNT for hjelp.</p>
		</div>
	</div>

</div>