<div class="modal-body">
	<div style="text-align: right">
		<button class="btn btn-danger" ng-click="cancel()">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
	<h3>Obs, en feil oppsto!</h3>
	<p>For å kunne gå videre må det velges hvor mange senger som skal reserveres, samt tid for ankomst og avreise. Se over reservasjonen og prøv på nytt.</p>
	<p>Dersom du er usikker på hvordan bookingsystemet fungerer, så ligger det en online brukermanual <a ng-click="closeModal" href="#/bookingManual">her</a>.</p>
</div>