<div class="container modTestMainView">
	<div class="row">
		<div class="col-md-12" style="height:100px">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 modCenterText">
			<img src="/images/DNT_icon_logo_big.jpg" />
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 modCenterText">
			<h3>Testhytter:</h3>
			<h4><a href="#/booking/1?type=large&beds=10">Fjordheim (stor hytte)</a></h4>
			<h4><a href="#/booking/2?type=large&beds=20">Peterstun (stor hytte)</a></h4>
			<h4><a href="#/booking/3?type=small">HeiFjord (liten hytte)</a></h4>
			<h4><a href="#/booking/4?type=small">Fjordlistølen (liten hytte)</a></h4>
		</div>
	</div>
</div>


